* {
    margin:0;
    padding:0;
}
#columna1 {
    position:absolute;
    top:0px;
    left:0px;
    width:50%;
    margin-top:10px;
}
#columna2 {
    margin-left:51%;
    margin-right:20px;
    margin-top:10px;
    background-color:#b9b9af;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.fondo{
    background-image: url(../Imagenes/fondo2.jpg);
    height: 110vh;
    background-size: cover;
    background-position: center;
}

.select{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    border-width: 50vh;
    background-color: #b9b9af;
}