* {
  margin: 0;
  padding: 0;
  margin-bottom: 0;
}
.fondo {
  background-image: url(../Imagenes/fondo2.jpg);
  height: 110vh;
  background-size: cover;
  background-position: center;
}
h1 {
  align-items: center;
  display: flex;
  justify-content: center;
  font-style: italic;
  text-align: center;
  color: rgb(221, 32, 32);

}
.social{
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
  padding-bottom: 0px;
  border-top: 1px solid rgba(82, 68, 71, 0.734);
  margin-top: 2px;
  align-items: center;
  justify-items: center;

}
.social a{
  font-size: 22px;
  width: 45px;
  height: 45px;
  line-height: 39px;
  display: inline-block;
  border-radius: 50%;
  border: 2px solid #423c40;
  box-shadow: 0px 0px 0px 1px rgba(213, 18, 18, 0.4);
  margin: 10px;
  color: rgb(214, 71, 31);
  opacity: 0.7;
  transition: 0.3s ease-in-out;
}
.social a:hover{
  opacity: 0.9;
  box-shadow: 0px 1px 3px 2px rgba(220, 14, 14, 0.9);
}
.copyright{
  text-align: center;
  padding-top: 24px;
  font-weight: 500;
  opacity: 0.8;
  font-size: 20px;
  display: flex;
  position: relative;
  justify-content: center;
}
h5{
  text-align: center;
  padding-top: 0px;
  font-weight: 500;
  opacity: 0.8;
  font-size: 80px;
  display: flex;
  position: relative;
  justify-content: center;
}
@media (max-width: 767px) {

    .curve{
      left: 5%;
      height: 70%;
    }
  }
  
  *{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
  }
  body{
    font-family: sans-serif;
    overflow: visible;
    user-select: none;
  }


nav .logo{
  color: rgb(250, 247, 247);
  font-size: 20px;
  font-weight: bold;
  justify-content: center;
  padding-left: 50px;
  text-decoration: none;
  
}
nav{
  height: 60px;
  background: #c4b880;
  box-shadow: 0 5px 20px rgba(0,0,0,.4);
  text-decoration: none;
}
nav ul{
  float: right;
  margin-right: 60px;
}
nav ul li{
  display: inline-block;
}
nav ul li a{
  color: white;
  display:block;
  padding: 0 15px;
  line-height: 30px;
  font-size: 18px;
  background: #063247;
  transition: .3s;
  padding-top: 19px;

  
}
nav ul li a:hover,
nav ul li a.active{
  color: #23dbdb;
}
nav ul ul{
  position: absolute;
  top: 85px;
  border-top: 3px solid #23dbdb;
  opacity: 0;
  visibility: hidden;
}
nav ul li:hover > ul{
  top: 70px;
  opacity: 1;
  visibility: visible;
  transition: .3s linear;
}
nav ul ul li{
  width: 150px;
  display: list-item;
  position: relative;
  border: 1px solid #042331;
  border-top: none;
}
nav ul ul li a{
  line-height: 50px;
}
nav ul ul ul{
  border-top: none;
}
nav ul ul ul li{
  position: relative;
  top: -70px;
  left: 150px;
}
nav ul ul li a i{
  margin-left: 45px;
}
