
* {
  margin: 0;
  padding: 0;
  margin-bottom: 0;
}
.fondo {
  background-image: url(/Imagenes/fondo2.jpg);
  height: 110vh;
  background-size: cover;
  background-position: center;
}
.fondo2{
  background-image: url(fondo2.jpg);
  height: 110vh;
  background-size: cover;
  background-position: cover;
}
h1 {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
  color:#22142b ;
  font-family: Georgia, 'Times New Roman', Times, serif;
  width: 220vh;
  height:7vh;
}



h2 {color: #22142b;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: row;
  font-family: Georgia;
  height: 30vh;
  border-width: 50vh;
}


h5{
  text-align: center;
  padding-top: 0px;
  font-weight: 500;
  opacity: 0.8;
  font-size: 80px;
  display: flex;
  position: relative;
  justify-content: center;
}

body{
  font-family: Georgia, 'Times New Roman', Times, serif;
  overflow: visible;
  user-select: none;
}
.select{
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border-width: 50vh
}
.boton{
  align-items: center;
  justify-content: center;
  color: black;
  display: flex;
  flex-direction: column;
}
Men-u 


.select2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 1vh;
  border-width: 20vh;
  background-color: #98a0d8;
}
Barra1
nav{
  width: 900px;
  margin: auto;
  background-color: #98a0d8;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  margin-top: 50px;
  
  
}
.menu{
  list-style: none;
  display: flex;
  justify-content:space-around;
}
.menu{
  
  padding:15px;
  color:#22142b;
  text-decoration: none;
  background-color: #98a0d8;
  font-family: Georgia, 'Times New Roman', Times, serif;
  
}
.menu > li:hover{
  background-color: #9ea9ff;
}
.ciudad{
  position: absolute;
  display: none;
  list-style: none;
  width: 200px;
  background-color: #98a0d8;
}
.menu li:hover .ciudad{
  display: block;
}
.ciudad li:hover{
  background-color: cornflowerblue;
}
.ciudad li a{
  display: block;
}
.ciudad li:hover{
  background-color: cornflowerblue;
}

.ciudadVerdad{
  position: relative;
  display: none;
  list-style: none;
  width: 200px;
  background-color: cornflowerblue;

}
.ciudad li:hover .ciudadVerdad{
  display: block;
}
.ciudadVerdad li:hover{
  background-color: rgb(188, 204, 233);
}
.ciudadVerdad li a{
  display: block;
}
li a{
color: #22142b;
text-decoration: none;
text-decoration-line: none;
font-family: Georgia, 'Times New Roman', Times, serif;
}





