<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Inmueble</title>
<link rel="icon" href="../Imagenes/logo.png">
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>
	<br>
	<div class="container">
		
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
				<h2 class="text-center">Características del inmueble</h2>
				<div class="card-body">
					<form th:action="@{/mapaManizales/{id}(id=${manizales.id})}" th:object="${manizales}" method="POST">
						<div class="form-group">
							<label>Dirección </label>
							<input type="text" name="nombre" th:field="*{direccion}" class="form-control" placeholder="Digite su nombre..." required disabled>
						</div>
						<div class="form-group">
							<label>Número de habitaciones </label>
							<input type="text" name="direccion" th:field="*{habitaciones}" class="form-control" placeholder="Digite su direccion..." required disabled>
						</div>
						<div class="form-group">
							<label>Número de baños </label>
							<input type="text" name="email" th:field="*{banos}" class="form-control" placeholder="Digite su email..." required disabled>
						</div>
						<div class="form-group">
							<label>Área en metros cuadrados </label>
							<input type="text" name="nombre" th:field="*{metros2}" class="form-control" placeholder="Digite su nombre..." required disabled>
						</div>
						<div class="form-group">
							<label>Condición en el mercado </label>
							<input type="text" name="nombre" th:field="*{condicion}" class="form-control" placeholder="Digite su nombre..." required disabled>
						</div>
						<div class="form-group">
							<label>Precio en el mercado </label>
							<input type="text" name="nombre" th:field="*{precio}" class="form-control" placeholder="Digite su nombre..." required disabled>
						</div>
						<div class="form-group">
							<label>Tipo de vivienda </label>
							<input type="text" name="nombre" th:field="*{tipo}" class="form-control" placeholder="Digite su nombre..." required disabled>
						</div>
						<br>
						<div class="box-footer">
							<button th:href="@{/mapaManizales}" class="btn btn-success">Regresar</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		
	</div>
	
</body>
</html>

</body>
</html>